* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    background-image: url(./assets/background-fot.png);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
